<div class="overflow-scroll vh-100">
    <table class="table table-hover">
      <tbody>
        <tr
          ng-repeat="archive in archives | filter: { subject:searchname }"
          ng-class="{ 'table-primary': archive.read}"
          ng-mouseover="row = archive.id"
          ng-mouseleave="row = -1">
          <td class="">
            <div class="d-flex justify-content-between px-2">
              <div class="d-flex justify-content-center">
                <div id="square-icons" ng-click="click(archive.id)">
                  <div ng-if="!archive.select">
                    <i class="bi bi-square"></i>
                  </div>
                  <div ng-if="archive.select">
                    <i class="bi bi-check-square"></i>
                  </div>
                </div>
                <div id="star-icons" class="px-3" ng-click="select(archive.id)">
                  <div ng-if="!archive.starred">
                    <i class="bi bi-star"></i>
                  </div>
                  <div ng-if="archive.starred">
                    <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                  </div>
                </div>
                <div
                  class="d-flex"
                  ng-click="show(archive.id)">
  
                  <div ng-if="archive.subject != 'undefined'">
                    <div class="px-2">{{ archive.subject}} -</div>
                  </div>
                  <div ng-if="archive.subject == 'undefined'">
                    <div class="px-2">(no-subject) -</div>
                  </div>
                  <div ng-if="archive.body != 'undefined'">
                    <p class="display-6" style="font-size: 16px">
                      {{archive.body}}
                    </p>
                  </div>
                  <div ng-if="archive.body == 'undefined'">
                    <p class="display-6" style="font-size: 16px">no-body</p>
                  </div>
                </div>
              </div>
              <div
                class="d-flex justify-content-evenly align-items-center me-5"
                ng-show="row == archive.id || archive.select">
                <div class="px-2" ng-click="unArchive(archive.id)">
                    <i class="bi bi-archive-fill"></i>
                  </div>
                <div class="px-2" ng-click="delete(archive.id)">
                  <i class="bi bi-trash"></i>
                </div>
                <div class="px-2" ng-click="read(archive.id)" ng-if="!archive.read">
                  <i class="bi bi-envelope-open"></i>
                </div>
                <div class="px-2" ng-click="unread(archive.id)" ng-if="archive.read">
                  <i class="bi bi-envelope"></i>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
