<div class="overflow-scroll vh-100">
  <div ng-if = "loader"> 
    <div class="d-flex justify-content-center vh-100 align-items-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
    <table class="table table-hover">
      <tbody>
        <tr
          ng-repeat="archive in archives | filter: { subject:searchname }"
          ng-class="{ 'table-primary': archive.details.read}"
          ng-mouseover="row = archive.sender.id"
          ng-mouseleave="row = -1">
          <td class="">
            <div class="d-flex justify-content-between px-2">
              <div class="d-flex justify-content-center">
                <div id="square-icons" ng-click="click(archive.sender.id, archive.details.self)" class="px-3">
                  <div ng-if="!archive.details.select">
                    <i class="bi bi-square"></i>
                  </div>
                  <div ng-if="archive.details.select">
                    <i class="bi bi-check-square"></i>
                  </div>
                </div>
                <!-- <div id="star-icons" class="px-3" ng-click="select(archive.sender.id)">
                  <div ng-if="!archive.details.starred">
                    <i class="bi bi-star"></i>
                  </div>
                  <div ng-if="archive.details.starred">
                    <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                  </div>
                </div> -->
                <div
                  class="d-flex"
                  ng-click="show(archive.sender.id, archive.details.self)">
                  <div ng-if="archive.sender.draft == false">
                    <p>{{archive.sender.sendername}}</p>
                  </div>
                  <div ng-if="archive.sender.draft">
                    <p style="color: red">Draft</p>
                  </div>
                  <div ng-if="archive.sender.subject != 'undefined'">
                    <div class="px-2">{{archive.sender.subject}} -</div>
                  </div>
                  <div ng-if="archive.sender.subject == 'undefined'">
                    <div class="px-2">(no-subject) -</div>
                  </div>
                  <div ng-if="archive.sender.body != 'undefined'">
                    <p class="display-6" style="font-size: 16px">
                      {{archive.sender.body}}
                    </p>
                  </div>
                  <div ng-if="archive.sender.body == 'undefined'">
                    <p class="display-6" style="font-size: 16px">no-body</p>
                  </div>
                </div>
              </div>
              <div
                class="d-flex justify-content-evenly align-items-center me-5"
                ng-show="row == archive.sender.id || archive.details.select">
                <div class="px-2" ng-click="unArchive(archive.sender.id, archive.details.self)">
                    <i class="bi bi-archive-fill"></i>
                  </div>
                <div class="px-2" ng-click="delete(archive.sender.id, archive.details.self)">
                  <i class="bi bi-trash"></i>
                </div>
                <div class="px-2" ng-click="read(archive.sender.id, archive.details.self)" ng-if="!archive.details.read">
                  <i class="bi bi-envelope-open"></i>
                </div>
                <div class="px-2" ng-click="unread(archive.sender.id, archive.details.self)" ng-if="archive.details.read">
                  <i class="bi bi-envelope"></i>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
