<div class="overflow-scroll vh-100 ">
  <div class="d-flex justify-content-evenly mb-3" >
    <form action="" ng-submit="createGroup()" class="col-md-10">
      <div class=" mt-4">
      <div class="d-flex col-md-9">
        <label for="email" class="form-label"></label>
        <input
        type="email"
        class="form-control p-3"
        id="email"
        ng-model="email"
        placeholder="Email for the group"
        required />
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn border" type="submit">Create group</button>
        </div>
      </div>
    </div>
  </form> 
  <div class="col-md-2 d-flex justify-content-center align-items-center">
    <button class="btn border p-3" ng-click="view()">View groups</button>
  </div>
</div>
  <div class="container-fluid mb-5 d-flex justify-content-evenly">
    <div class="row d-flex justify-content-center col-md-11">
    <div class="card col-md-2" ng-repeat="user in selectedUsers">
      <div class="card-body d-flex justify-content-evenly">
        <span class="card-title">{{user.email}}</span>
        <i class="bi bi-x-lg" ng-click="remove(user.id)"></i>
      </div>
    </div>
    </div>
    </div>
    <table class="table table-hover">
      <tbody>
      <tr>
        <th>S.no</th>
        <th>User Name</th>
        <th>User email</th>
        <th>Add to group</th>
      </tr>
      <tr
        ng-repeat="user in users | filter: { subject:searchname }"
        ng-class="{ 'table-primary': user.read}"
        ng-mouseover="row = user.id"
        ng-mouseleave="row = -1">
        <td >
          <div>{{$index + 1}}</div>
        </td>
        <td>
          <div>{{ user.first_name}} {{ user.last_name}}</div>
        </td>
        <td>
          <div>{{ user.email}}</div>
        </td>
        <td>
          <div>
            <button class="btn btn-outline-secondary" ng-click="addUser(user.id, user.email)">Add to group</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
