.navbar {
  background-color: #f6f8fc;
}

.search-form {
  background-color: #eaf1fb;
}

.main-content {
  background-color: white;
}

.side-panel {
  background-color: #f6f8fc;
}

.no-focus-border:focus {
  box-shadow: none !important;
  border-color: inherit !important;
}

.border {
  border: 1px solid;
  padding: 1px;
  box-shadow: 1px 1px 1px 1px #dfdede;
} 

.white {
  background: white;
}