    <div>
        <nav class="navbar navbar-expand-lg col-md-12 d-flex" >
            <div class="col-md-2">
              <div class="d-flex">
                <i
                  class="bi bi-list px-3"
                  style="font-size: 22px"
                  ng-click="toggleDiv()"></i>
                <img
                  src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
                  alt=""
                  class="img-fluid" />
              </div>
            </div>
            <div class="col-md-10 d-flex justify-content-between">
              <div class="col-md-5">
                <form class="d-flex">
                  <button
                    class="col-md-12 
                    border-0
                    rounded-pill
                    d-flex 
                    align-items-center 
                    search-form 
                    {{ bgColor }} 
                    {{ border }}">
                    <i class="p-2 bi bi-search" id="searchIcon"></i>
                    <input
                      id="inputField"
                      class="form-control border-0 p-2 search-form no-focus-border"
                      placeholder="Search mail"
                      ng-focus="Focus()"
                      ng-blur="Blur()" />
                    <i class="p-2 bi bi-sliders2" id="slidersIcon"></i>
                  </button>
                </form>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1">
                <div class="d-flex justify-content-evenly align-items-center">
                  <div>
                    <i class="bi bi-question-circle" style="font-size: 20px"></i>
                  </div>
                  <div>
                    <div class="dropdown">
                      <i
                        class="bi bi-gear"
                        style="font-size: 20px"
                        data-bs-toggle="dropdown"></i>
                      <ul class="dropdown-menu col-md-1"></ul>
                    </div>
                  </div>
                  <div>
                    <i
                      class="bi bi-person-circle"
                      style="font-size: 24px"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"></i>
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </div>

    <div class="col-md-12 d-flex">
        <div class="d-flex vh-100">
          <div class="side-panel">
            <button
              class="btn m-2 normal
            {{shadow}}
            {{normal}}"
              ng-mouseover="hoverIn()"
              ng-mouseleave="hoverOut()"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasScrolling"
              aria-controls="offcanvasScrolling">
              <i class="bi bi-pencil px-2"></i>
              <span ng-show="showDiv">Compose</span>
            </button>
            <ul style="list-style: none" class="p-3">
              <li
                ng-repeat="panel in leftPanel"
                class="mb-2 px-2"
                ng-mouseover="hover(panel)"
                ng-mouseleave="leave(panel)"
                ng-click="click(panel)"
                ng-class="{ 'click':panel.isClicked , 'hover': panel.isHover }">
                <div class="d-flex">
                  <div>
                    <a ui-sref="{{panel.url_link}}" style="text-decoration: none">
                      <i
                        class="{{ panel.icons }} text-black"
                        style="font-size: 16px"></i>
                    </a>
                  </div>
                  <div>
                    <a ui-sref="{{panel.url_link}}" style="text-decoration: none">
                      <span
                        ng-show="showDiv"
                        style="font-size: 16px"
                        class="ms-4 text-black">
                        {{ panel.panel_heading }}
                        <span class="ms-5">{{ panel.count}}</span>
                      </span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
<link rel="stylesheet" href="/pages/inbox/inbox.css ">