<div class="overflow-scroll vh-100">
  <table class="table table-hover">
    <tbody>
      <tr
        ng-repeat="star in starred | filter: { sendername:searchname }"
        ng-class="{ 'table-primary': star.read }"
        ng-mouseover="row = star.id"
        ng-mouseleave="row = -1">
        <td class="">
          <div class="d-flex justify-content-between px-2">
            <div class="d-flex justify-content-center">
              <div id="square-icons" ng-click="click(star.id)">
                <div ng-if="!star.select">
                  <i class="bi bi-square"></i>
                </div>
                <div ng-if="star.select">
                  <i class="bi bi-check-square"></i>
                </div>
              </div>
              <div id="star-icons" class="px-3" ng-click="select(star.id)">
                <div ng-if="!star.starred">
                  <i class="bi bi-star"></i>
                </div>
                <div ng-if="star.starred">
                  <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                </div>
              </div>
              <div class="d-flex"
              ng-click="show(star.id)">
              <div ng-if="star.draft == false">
                <p>{{star.sendername}}</p>
              </div>
              <div ng-if="star.draft">
                <p style="color: red">Draft</p>
              </div>
              <div ng-if="star.sent">
                <p>(me)</p>
              </div>
              <div class="d-flex ms-4">
                <div class="px-2">{{ star.subject}} -</div>
                <p class="display-6" style="font-size: 16px">{{star.body}}</p>
              </div>
            </div>
            </div>
            <div
              class="d-flex justify-content-evenly align-items-center me-5"
              ng-show="row == star.id || star.select">
              <div class="px-2" ng-click="Archive(star.id)">
                <i class="bi bi-archive"></i>
              </div>
              <div class="px-2" ng-click="delete(star.id)">
                <i class="bi bi-trash"></i>
              </div>
              <div class="px-2" ng-click="read(star.id)" ng-if="!star.read">
                <i class="bi bi-envelope-open"></i>
              </div>
              <div class="px-2" ng-click="unread(star.id)" ng-if="star.read">
                <i class="bi bi-envelope"></i>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

