<div class="overflow-hidden">
  <nav class="navbar navbar-expand-lg col-md-12 d-flex">
    <div class="col-md-2">
      <div class="d-flex">
        <i
          class="bi bi-list px-3"
          style="font-size: 22px"
          ng-click="toggleDiv()"></i>
        <img
          src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
          alt=""
          class="img-fluid" />
      </div>
    </div>
    <div class="col-md-10 d-flex justify-content-between">
      <div class="col-md-5">
        <form class="d-flex">
          <button
            class="col-md-12 
            border-0
            rounded-pill
            d-flex 
            align-items-center 
            search-form 
            {{ bgColor }} 
            {{ border }}">
            <i class="p-2 bi bi-search" id="searchIcon"></i>
            <input
              id="inputField"
              class="form-control border-0 p-2 search-form no-focus-border"
              placeholder="Search mail"
              ng-model="searchname"
              ng-focus="Focus()"
              ng-blur="Blur()" />
            <i class="p-2 bi bi-sliders2" id="slidersIcon"></i>
          </button>
        </form>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-1">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <a
              href="https://support.google.com/mail/answer/9238280?hl=en&sjid=12750361572797075547-AP#null"
              style="text-decoration: none"
              class="text-black"
              ><i class="bi bi-question-circle" style="font-size: 20px"></i
            ></a>
          </div>
          <div>
            <div class="dropdown">
              <i
                class="bi bi-gear"
                style="font-size: 20px"
                data-bs-toggle="dropdown"></i>
              <ul class="dropdown-menu col-md-1"></ul>
            </div>
          </div>
          <div>
            <i
              class="bi bi-person-circle"
              style="font-size: 24px"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="col-md-12 d-flex">
    <div class="d-flex vh-100">
      <div class="side-panel">
        <button
          class="btn m-2 normal
        {{shadow}}
        {{normal}}"
          ng-mouseover="hoverIn()"
          ng-mouseleave="hoverOut()"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling">
          <i class="bi bi-pencil px-2"></i>
          <span ng-show="showDiv">Compose</span>
        </button>
        <ul style="list-style: none" class="p-3">
          <li
            ng-repeat="panel in leftPanel"
            class="mb-2 px-2"
            ng-mouseover="hover(panel)"
            ng-mouseleave="leave(panel)"
            ng-click="click(panel)"
            ng-class="{ 'click':panel.isClicked , 'hover': panel.isHover }">
            <div class="d-flex">
              <div>
                <a ui-sref="{{panel.url_link}}" style="text-decoration: none">
                  <i
                    class="{{ panel.icons }} text-black"
                    style="font-size: 16px"></i>
                </a>
              </div>
              <div>
                <a ui-sref="{{panel.url_link}}" style="text-decoration: none">
                  <span
                    ng-show="showDiv"
                    style="font-size: 16px"
                    class="ms-4 text-black">
                    {{ panel.panel_heading }}
                    <span class="ms-5">{{ panel.count}}</span>
                  </span>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <div class="d-flex justify-content-evenly align-items-center">
          <span style="font-size: 18px">Labels</span>
          <span ng-show="showDiv"
            ><i
              class="bi bi-plus px-2"
              style="font-size: 22px"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal3"
              ng-click="labels()"></i
          ></span>
        </div>
        <div class="accordion accordion mt-3" id="accordionFlushExample">
          <div class="accordion-item" ng-repeat="label in parentLabel">
            <h2
              class="accordion-header d-flex"
              ng-click="sendLabel(label.id,$index)">
              <button
                class="accordion-button collapsed navbar"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne{{$index}}"
                aria-expanded="false"
                aria-controls="flush-collapseOne">
                {{label.value}}
              </button>
              <div class="navbar">
                <div class="dropdown">
                    <i
                      class="bi bi-three-dots-vertical"
                      data-bs-toggle="dropdown"
                      style="font-size: 18px">
                    </i>
                  <ul class="dropdown-menu" style="background-color: #f6f8fc;">
                    <li class="d-flex justify-content-center align-items-center navbar" ng-click="deleteLabel(label.id)">Delete Label</li>
                    <li class="d-flex justify-content-center align-items-center navbar" ng-click="EditLabels(label.id)">Edit Label</li>
                  </ul>
                </div>
              </div>
            </h2>
            <div
              id="flush-collapseOne{{$index}}"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample">
              <div
                class="accordion-body navbar d-flex justify-content-between"
                ng-repeat="child in childLabel">
                <span> {{child.value}} </span>
                <div class="dropdown">
                  <i
                    class="bi bi-three-dots-vertical"
                    data-bs-toggle="dropdown"
                    style="font-size: 18px">
                  </i>
                <ul class="dropdown-menu" style="background-color: #f6f8fc;">
                  <li class="d-flex justify-content-center align-items-center navbar" ng-click="deleteLabel(child.id)">Delete Label</li>
                  <li class="d-flex justify-content-center align-items-center navbar" ng-click="EditLabels(child.id)">Edit Label</li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex col-md-11">
      <div ui-view class="col-md-12 overflow-scroll">
        <table class="table table-hover">
          <tbody>
            <tr
              ng-repeat="mail in Mails | filter: { sendername: searchname }  "
              ng-class="{ 'table-primary': mail.read}"
              ng-mouseover="row = mail.id"
              ng-mouseleave="row = -1">
              <td>
                <div class="d-flex justify-content-between px-2">
                  <div class="d-flex justify-content-center">
                    <div id="square-icons" ng-click="select(mail.id)">
                      <div ng-if="!mail.select">
                        <i class="bi bi-square"></i>
                      </div>
                      <div ng-if="mail.select">
                        <i class="bi bi-check-square"></i>
                      </div>
                    </div>
                    <div
                      id="star-icons"
                      class="px-3"
                      ng-click="starred(mail.id)">
                      <div ng-if="!mail.starred">
                        <i class="bi bi-star"></i>
                      </div>
                      <div ng-if="mail.starred">
                        <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                      </div>
                    </div>
                    <div
                      class="d-flex"
                      ng-click="show(mail.id)"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal2">
                      <div>{{mail.sendername}}</div>
                      <div class="d-flex ms-4">
                        <div class="px-2">{{ mail.subject}} -</div>
                        <p class="display-6" style="font-size: 16px">
                          {{mail.body | limitTo : 100}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-evenly align-items-center me-5"
                    ng-if="row == mail.id || mail.select">
                    <div class="px-2" ng-click="Archive(mail.id)">
                      <i class="bi bi-archive"></i>
                    </div>
                    <div class="px-2" ng-click="delete(mail.id)">
                      <i class="bi bi-trash"></i>
                    </div>
                    <div
                      class="px-2"
                      ng-click="read(mail.id)"
                      ng-if="!mail.read">
                      <i class="bi bi-envelope-open"></i>
                    </div>
                    <div
                      class="px-2"
                      ng-click="unread(mail.id)"
                      ng-if="mail.read">
                      <i class="bi bi-envelope"></i>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-8 d-flex vh-100">
      <div class="side-panel">
        lkmkokm
      </div>
      </div> -->
</div>

<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
  style="height: 500px; width: 700px; bottom: 0px; top: auto">
  <div class="offcanvas-header" style="background-color: aliceblue">
    <span class="offcanvas-title" id="offcanvasScrollingLabel"
      >New Message</span
    >
    <button
      type="button"
      class="btn-close"
      ng-click="draftMail()"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form ng-submit="sendMail()">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-md-1">To</td>
            <td>
              <input
                required
                style="border-style: none"
                type="email"
                ng-model="email"
                class="form-control border-0 p-2 no-focus-border" />
            </td>
          </tr>
          <tr>
            <td>Subject</td>
            <td>
              <input
                required
                style="border-style: none"
                type="text"
                ng-model="subject"
                class="form-control border-0 p-2 no-focus-border" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex">
        <textarea
          required
          class="form-control border-0 p-2 no-focus-border"
          ng-model="text"
          id="exampleFormControlTextarea1"
          rows="8"
          style="border-style: none"></textarea>
      </div>
      <div ng-repeat="file in files">Attached file:- {{file.name}}</div>

      <div class="">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex position-absolute bottom-0 start-0">
            <button
              class="btn btn-primary rounded-pill"
              style="background-color: #0b57d0"
              type="submit">
              send
            </button>
            <div>
              <i
                class="bi bi-paperclip"
                style="font-size: 25px"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"></i>
            </div>
          </div>
          <div class="d-flex position-absolute bottom-0 end-0">
            <i
              class="bi bi-trash3"
              style="font-size: 20px"
              ng-click="deleteMail()"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <link rel="stylesheet" href="/pages/dashboard/dashboard.css" />
</div>

<div
  class="modal"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" enctype="multipart/form-data" ng-submit="submitFile()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModal1Label">Attach files</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              file-model="myFile"
              required />
          </div>
          <!-- <button class="btn btn-outline-primary" type="button" ng-click="add()">Add</button> -->
        </div>
        <div
          ng-repeat="i in multiple"
          class="d-flex justify-content-center align-items-center">
          <div class="mb-3">{{i.file.name}}</div>
        </div>
        <div class="modal-footer">
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-outline-primary"
              data-bs-dismiss="modal">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-repeat="user in Profile">
      <div class="modal-header navbar">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{user.email}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <span style="font-size: 26px"> Hi, </span>
          <span style="font-size: 18px">
            {{user.first_name}} {{user.last_name}}
          </span>
        </div>
      </div>
      <div class="modal-footer navbar">
        <div class="d-flex col-md-12 justify-content-evenly">
          <!-- <div
            class="col-md-4 d-flex justify-content-evenly align-items-center bg-white border rounded-pill p-2"
            data-bs-dismiss="modal"
            ng-click="add()">
            <i class="bi bi-plus-circle"></i>
            <div class="">Add account</div>
          </div> -->
          <div
            class="col-md-4 d-flex justify-content-evenly align-items-center bg-white border rounded-pill"
            data-bs-dismiss="modal"
            ng-click="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <div class="">Logout</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" ng-repeat="details in emailDetails">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal2Label">
          {{ details.subject }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center">
          {{ details.body}}
        </div>
        <div
          ng-if="details.image"
          class="d-flex justify-content-center align-items-center mt-5">
          <img
            src="https://10.21.82.60:8000/mail/media/{{ details.image }}"
            alt="" />
        </div>
        <div
          class="d-flex justify-content-center align-items-center col-md-5 mt-5">
          <div class="card" ng-if="details.file">
            <div class="card-body">
              <a
                ng-href="https://10.21.82.60:8000/mail/media/{{details.file}}"
                download="file"
                ng-click="download()"
                >{{details.file}}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModal3Label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" ng-submit="addLabels()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModal3Label">New label</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="label">Please enter a new label name:</label>
          <input
            type="text"
            id="label"
            class="form-control"
            required
            ng-model="label" />
          <label for="nest" class="mt-2">Nest label under</label>
          <select
            class="form-select"
            id="nest"
            ng-model="nest"
            ng-options="nest.id as nest.value for nest in parentLabel">
            <option value="" disabled>Select labels</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
