<div class="overflow-scroll vh-100">
  <div ng-if = "loader"> 
    <div class="d-flex justify-content-center vh-100 align-items-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <tbody>
      <tr
        ng-repeat="draft in drafts | filter: { subject:searchname }"
        ng-class="{ 'table-primary': draft.details.read}"
        ng-mouseover="row = draft.sender.id"
        ng-mouseleave="row = -1">
        <td class="">
          <div class="d-flex justify-content-between px-2">
            <div class="d-flex justify-content-center">
              <div id="square-icons" ng-click="click(draft.sender.id,draft.details.self)">
                <div ng-if="!draft.details.select">
                  <i class="bi bi-square"></i>
                </div>
                <div ng-if="draft.details.select">
                  <i class="bi bi-check-square"></i>
                </div>
              </div>
              <div id="star-icons" class="px-3" ng-click="select(draft.sender.id,draft.details.self)">
                <div ng-if="!draft.details.starred">
                  <i class="bi bi-star"></i>
                </div>
                <div ng-if="draft.details.starred">
                  <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                </div>
              </div>
              <div
                class="d-flex"
                data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
            ng-click="show(draft.sender.id)"
                >
                <div>
                  <p style="color: red">Draft</p>
                </div>

                <div ng-if="draft.sender.subject != 'undefined'">
                  <div class="px-2">{{draft.sender.subject}} -</div>
                </div>
                <div ng-if="draft.sender.subject == 'undefined'">
                  <div class="px-2">(no-subject) -</div>
                </div>
                <div ng-if="draft.sender.body != 'undefined'">
                  <p class="display-6" style="font-size: 16px">
                    {{draft.sender.body}}
                  </p>
                </div>
                <div ng-if="draft.sender.body == 'undefined'">
                  <p class="display-6" style="font-size: 16px">no-body</p>
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-evenly align-items-center me-5"
              ng-show="row == draft.sender.id || draft.details.select">
              <div class="px-2" ng-click="Archive(draft.sender.id,draft.details.self)">
                <i class="bi bi-archive"></i>
              </div>
              <div class="px-2" ng-click="delete(draft.sender.id,draft.details.self)">
                <i class="bi bi-trash"></i>
              </div>
              <div class="px-2" ng-click="read(draft.sender.id,draft.details.self)" ng-if="!draft.details.read">
                <i class="bi bi-envelope-open"></i>
              </div>
              <div class="px-2" ng-click="unread(draft.sender.id,draft.details.self)" ng-if="draft.details.read">
                <i class="bi bi-envelope"></i>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
  style="height: 500px; width: 700px; bottom: 0px; top: auto">
  <div class="offcanvas-header" style="background-color: aliceblue">
    <span class="offcanvas-title" id="offcanvasScrollingLabel"
      >New Message</span
    >
    <button
      type="button"
      class="btn-close"
      ng-click="draftMail()"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form ng-submit="sendMail()">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-md-1">To</td>
            <td>
              <input
                required
                style="border-style: none"
                type="text"
                ng-pattern="/\S+@\S+\.\S+/"
                ng-model="receive"
                class="form-control border-0 p-2 no-focus-border" />
            </td>
          </tr>
          <tr>
            <td>Subject</td>
            <td>
              <input
                required
                style="border-style: none"
                type="text"
                ng-model="send.subject"
                class="form-control border-0 p-2 no-focus-border" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex">
        <textarea
          required
          class="form-control border-0 p-2 no-focus-border"
          ng-model="send.body"
          id="exampleFormControlTextarea1"
          rows="8"
          style="border-style: none"></textarea>
      </div>
      <div ng-repeat="file in files">Attached file:- {{file.name}}</div>

      <div class="">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex position-absolute bottom-0 start-0">
            <button
              class="btn btn-primary rounded-pill"
              style="background-color: #0b57d0"
              type="submit">
              Send
            </button>
            <div>
              <i
                class="bi bi-paperclip"
                style="font-size: 25px"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"></i>
            </div>
          </div>
          <div class="d-flex position-absolute bottom-0 end-0">
            <i
              class="bi bi-trash3"
              style="font-size: 20px"
              ng-click="deleteMail()"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div
  class="modal"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" enctype="multipart/form-data" ng-submit="submitFiles()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModal1Label">Attach files</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input
              class="form-control"
              accept="image/jpeg,image.png,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              type="file"
              id="formFile"
              file-model="myFile"
              required />
          </div>
        </div>
        <div
          ng-repeat="i in multiple"
          class="d-flex justify-content-center align-items-center">
          <div class="mb-3">{{i.file.name}}</div>
        </div>
        <div class="modal-footer">
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-outline-primary"
              data-bs-dismiss="modal">
              Attach
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


