<div class="overflow-scroll vh-100">
  <table class="table table-hover">
    <tbody>
      <tr
        ng-repeat="draft in drafts"
        ng-class="{ 'table-primary': draft.read}"
        ng-mouseover="row = draft.id"
        ng-mouseleave="row = -1">
        <td class="">
          <div class="d-flex justify-content-between px-2">
            <div class="d-flex justify-content-center">
              <div id="square-icons" ng-click="click(draft.id)">
                <div ng-if="!draft.select">
                  <i class="bi bi-square"></i>
                </div>
                <div ng-if="draft.select">
                  <i class="bi bi-check-square"></i>
                </div>
              </div>
              <div id="star-icons" class="px-3" ng-click="select(draft.id)">
                <div ng-if="!draft.starred">
                  <i class="bi bi-star"></i>
                </div>
                <div ng-if="draft.starred">
                  <i class="bi bi-star-fill" style="color: #f7ca4b"></i>
                </div>
              </div>
              <div
                class="d-flex"
                ng-click="show(draft.id)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2">
                <div>
                  <p style="color: red">Draft</p>
                </div>

                <div ng-if="draft.subject != 'undefined'">
                  <div class="px-2">{{ draft.subject}} -</div>
                </div>
                <div ng-if="draft.subject == 'undefined'">
                  <div class="px-2">(no-subject) -</div>
                </div>
                <div ng-if="draft.body != 'undefined'">
                  <p class="display-6" style="font-size: 16px">
                    {{draft.body}}
                  </p>
                </div>
                <div ng-if="draft.body == 'undefined'">
                  <p class="display-6" style="font-size: 16px">no-body</p>
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-evenly align-items-center me-5"
              ng-show="row == draft.id || draft.select">
              <div class="px-2" ng-click="Archive(draft.id)">
                <i class="bi bi-archive"></i>
              </div>
              <div class="px-2" ng-click="delete(draft.id)">
                <i class="bi bi-trash"></i>
              </div>
              <div class="px-2" ng-click="read(draft.id)" ng-if="!draft.read">
                <i class="bi bi-envelope-open"></i>
              </div>
              <div class="px-2" ng-click="unread(draft.id)" ng-if="draft.read">
                <i class="bi bi-envelope"></i>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" ng-repeat="details in emailDetails">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal2Label">
          {{details.receiver}}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div
          class="d-flex justify-content-center align-items-center"
          ng-if="details.subject != 'undefined'">
          {{ details.subject }}
        </div>
        <div
          class="d-flex justify-content-center align-items-center"
          ng-if="details.body != 'undefined'">
          {{ details.body}}
        </div>
        <div
          ng-if="details.image"
          class="d-flex justify-content-center align-items-center mt-5">
          <img
            src="https://10.21.82.60:8000/mail/media/{{ details.image }}"
            alt="" />
        </div>
        <div
          class="d-flex justify-content-center align-items-center col-md-5 mt-5">
          <div class="card" ng-if="details.file">
            <div class="card-body">
              <a
                ng-href="https://10.21.82.60:8000/mail/media/{{details.file}}"
                download="file"
                ng-click="download()"
                >{{details.file}}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
